/* Add your custom extension styling here */
gzzbutton {
    margin-left:      2;
    margin-right:     2;
    margin-top:       2;
    margin-bottom:    2;
    background-color: grey, 
    color:            black;
}

.gzzdialog-header-item {
    margin-left:      2;
    margin-right:     2;
    margin-top:       2;
    margin-bottom:    2;
    color:            black;
    background-color: lightgrey, 
}

.gzzdialog-header-item-selected {
    margin-left:      2;
    margin-right:     2;
    margin-top:       2;
    margin-bottom:    2;
    color:            cyan;
    background-color: grey, 
}

.gzz-button {
    margin-left:      2;
    margin-right:     2;
    margin-top:       2;
    margin-bottom:    2;
    color:            black;
    background-color: lightgrey, 
}
